nav {
    background-color: #0085FF;
    overflow: hidden;
    position:relative;

    & a{
        color: white;
    }

    .mobile_bars {
        position: absolute;
        right: 20px;
        top:52px;
        color:#fff

    }

    & .container {
        max-width: 1170px;
        margin: 0 auto;
    }



    & .nav_con {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .logo {
            & a{
                text-decoration: none;
                font-weight: bold;
            }
        }

        & ul{
            display: flex;
            list-style: none;

            & li{
                margin: 0 35px;
                & a{
                    text-decoration: none;
                    transition: transform 0.25s ease-out;
                
                    &:hover {
                        content: '';
                        width: 100%;
                        transform: scaleX(0);
                        border-radius: 5px;
                        height: 0.05em;
                        bottom: 0;
                        left: 0;
                        background: currentcolor;
                        transform-origin: bottom right;
                    }

                    &hover::after {
                        transform: scaleX(1);
                        transform-origin: bottom left;
                      }
                }

                    
              
            }
        }

        & .button_hireme{
            width:100px;
            height:35px;
            background-color: #fff;
            display:flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            transition: 0.3s;
            cursor: pointer;

            &:hover {
                box-shadow: 0 0 20px 0px rgb(0, 0, 0,0.3);
            }
            
            & a{
              
                color: #333;
                text-decoration: none;
              
            }
        }
    }
}



@media screen and (max-width:480px) {
    .nav_con{
        flex-direction: column ;
        height: auto !important;
        margin: 50px 0;
        align-items: start !important;
        margin-left: 30px;


        & ul,.button_hireme{
            display: none !important;
        }
        
    }

    .mobile_menu{
        list-style: none;

        li{
            margin: 35px;

            & a{
                text-decoration: none;
            }

        }

      
    }
    & .mobile_button{
        width:100px;
        height:35px;
        background-color: #fff;
        display:flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        transition: 0.3s;
        cursor: pointer;
        margin: 30px;

        &:hover {
            box-shadow: 0 0 20px 0px rgb(0, 0, 0,0.3);
        }
        
        & a{
          
            color: #333;
            text-decoration: none;
          
        }
    }
}


@media screen and (min-width:481px) {
    .mobile_bars,.mobile_menu,.mobile_button{
        display: none;
    }
}